*/.classpath
*/pom.properties
final/target/m2e-wtp/web-resources/META-INF/maven/test.score/controller/pom.properties
final/target/m2e-wtp/web-resources/META-INF/maven/test.score/controller/pom.properties
*.class