<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.project.mapper.AdminMapper">
	
	<select id="getQnetdate" resultType="spring.project.model.QnetDateDTO">
		select * from qnetdate 
		where cyear=#{cyear}
			and cround=#{cround}
			and ctype=#{ctype}
	</select>
	
	<update id="modCertInfo">
		update certiinfo
		<set>
			<if test=""></if>
			<if test="">,</if>
			<if test="">,</if>
			<if test=""></if>
		</set>
		where cnum=#{cnum}
	</update>
	
	<select id="getCertiDetail" resultType="spring.project.model.CertiDetailDTO">
		select * from certidetail where cnum=#{cnum}
	</select>
	<select id="getCertiInfo" resultType="spring.project.model.CertiInfoDTO">
		select * from certiinfo where cnum=#{cnum}
	</select>
	
	<select id="findNextseq" resultType="int">
		select ${sequence}.nextval from dual
	</select>
	
	<select id="findCurrseq" resultType="int">
		select last_number from seq
		where sequence_name = #{sequence}
	</select>
	
	<select id="getCertList" resultType="spring.project.model.CertiInfoDTO">
		select 
			cnum,cname,category,ctype,cround,
			to_char(regStart,'YYYY-MM-DD') as regStart,
			to_char(regEnd,'YYYY-MM-DD') as regEnd,
			to_char(reg_addStart,'YYYY-MM-DD') as reg_addStart,
			to_char(reg_addEnd,'YYYY-MM-DD') as reg_addEnd,
			to_char(regStartTime,'HH24:MI') as regStartTime,
			to_char(regEndTime,'HH24:MI') as regEndTime,
			to_char(testDate,'YYYY-MM-DD') as testDate,
			to_char(resDate,'YYYY-MM-DD') as resDate		from certiinfo
	</select>
	
	<insert id="addCerti">
		insert into certiinfo values (
			#{cnum},
			#{cname,jdbcType=VARCHAR},
			#{category,jdbcType=VARCHAR},
			#{cyear,jdbcType=INTEGER},
			#{cround,jdbcType=INTEGER},
			#{ctype,jdbcType=VARCHAR},
			to_date(#{regStart, jdbcType=VARCHAR},'YYYY-MM-DD'),
			to_date(#{regEnd,jdbcType=VARCHAR},'YYYY-MM-DD'),
			to_date(#{reg_addStart,jdbcType=VARCHAR},'YYYY-MM-DD'),
			to_date(#{reg_addEnd,jdbcType=VARCHAR},'YYYY-MM-DD'),
			to_date(#{regStartTime,jdbcType=VARCHAR},'HH24:MI'),
			to_date(#{regEndTime,jdbcType=VARCHAR},'HH24:MI'),
			to_date(#{testDate,jdbcType=VARCHAR},'YYYY-MM-DD'),
			to_date(#{resDate,jdbcType=VARCHAR},'YYYY-MM-DD'),
			sysdate
		)
	</insert>
	
	<insert id="addCertiDetail">
		insert into certidetail values (
			#{cnum},
			#{company,jdbcType=VARCHAR},
			#{clevel,jdbcType=VARCHAR},
			#{requirement,jdbcType=VARCHAR},
			#{cmethod,jdbcType=VARCHAR},
			#{subject,jdbcType=VARCHAR},
			#{cutline,jdbcType=VARCHAR},
			#{cinfo,jdbcType=VARCHAR},
			#{cjob,jdbcType=VARCHAR},
			#{website,jdbcType=VARCHAR}
		)
	</insert>
	
	<insert id="addQnetDate" parameterType="spring.project.model.QnetDateDTO">
		insert into qnetdate values(
			#{cyear},
			#{cround},
			#{ctype},
			#{docRegStart1},
			#{docRegEnd1},
			<if test="docRegStart2 != null">#{docRegStart2},</if>
			<if test="docRegStart2 == null">'',</if>
			<if test="docRegEnd2 != null">#{docRegEnd2},</if>
			<if test="docRegEnd2 == null">'',</if>
			#{docTestStart},
			<if test="docTestEnd != null">#{docTestEnd},</if>
			<if test="docTestEnd == null">'',</if>
			#{docResult},
			<if test="docSubmitStart != null">#{docSubmitStart},</if>
			<if test="docSubmitStart == null">'',</if>
			<if test="docSubmitEnd != null">#{docSubmitEnd},</if>
			<if test="docSubmitEnd == null">'',</if>
			#{pracRegStart1},
			#{pracRegEnd1},
			<if test="pracRegStart2 != null">#{pracRegStart2},</if>
			<if test="pracRegStart2 == null">'',</if>
			<if test="pracRegEnd2 != null">#{pracRegEnd2},</if>
			<if test="pracRegEnd2 == null">'',</if>
			#{pracTestStart},
			#{pracTestEnd},
			#{pracResStart},
			<if test="pracResEnd != null">#{pracResEnd}</if>
			<if test="pracResEnd == null">''</if>
			
		)
	</insert>
	
</mapper>