<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="spring.project.mapper.CertiMapper">
	
	<select id="getCertiList" resultType="spring.project.model.CertiInfoDTO"
								parameterType="spring.project.model.CertiInfoDTO">
		select * from 
    		(select rownum r, list.* from 
		        (select * from certiinfo a 
		        full outer join certi_requirement b 
		        on a.cnum=b.cnum
				<where>
					<if test="category != null">
						category=#{category} 
					</if>
					<if test="req_degree != null">
			         or req_degree in
			         <foreach collection="req_degree" item="degree" index="index" open="(" close=")" separator=",">
			            #{degree}
			         </foreach>
			      </if>
			      <if test="req_age != null">
			         or req_age in
			         <foreach collection="req_age" item="age" index="index" open="(" close=")" separator=",">
			            #{age}
			         </foreach>
			      </if>
			      <if test="req_exp != null">
			         or b.req_exp=#{req_exp}
			      </if>		   
			      <if test="clevel != null">
					or a.clevel=#{clevel}
					</if>
				</where>	
				) list)
		where r between #{startRow} and #{endRow}
	</select>
		
	<select id="getCertCnt" resultType="int">
		select count(*) from certiinfo
	</select>
		
	<select id="getCertiLangList" resultType="spring.project.model.CertiInfoDTO">
		select
			cnum,cname
		from certiinfo
		where category='어학'	
	</select>

	<select id="getCertiReqInfo" resultType="spring.project.model.CertiRequirementDTO">
		select * from certi_requirement where cnum=#{cnum}
	</select>
	
	<select id="getCertiDate" resultType="spring.project.model.CertiDateDTO">
		select * from certidate where datepk = #{datePK}
	</select>
	
	<select id="getQnetDate" resultType="spring.project.model.CertiDateDTO"
							parameterType="spring.project.model.CertiScheduleDTO">
		select * from certidate 
			where cyear=#{cyear,jdbcType=VARCHAR}
			and cround=#{cround,jdbcType=VARCHAR}
			and clevel=#{clevel,jdbcType=VARCHAR}						
	</select>
	
	<select id="getQnetDateInfo" resultType="spring.project.model.CertiScheduleDTO">
		select * from certischedule where cnum=#{cnum,jdbcType=VARCHAR}
	</select>
	
	<select id="getCertiInfo" resultType="spring.project.model.CertiInfoDTO">
		select * from certiinfo where cnum=#{cnum,jdbcType=VARCHAR}
	</select>
	
	<select id="searchNatPeriod" resultType="spring.project.model.CertiDateDTO"
								parameterType="spring.project.model.CertiDateDTO">
		select * from certidate 
		where clevel=#{clevel,jdbcType=VARCHAR}
		and cyear in
		<foreach collection="cyear_list" item="cyear" open="(" separator="," close=")">
			#{cyear,jdbcType=VARCHAR}
		</foreach>
		and cround in 
		<foreach collection="cround_list" item="cround" open="(" separator="," close=")">
			#{cround,jdbcType=VARCHAR}
		</foreach>
	</select>
	
	<select id="searchPeriod" resultType="spring.project.model.CertiDateDTO">
		select * from certidate 
		where cnum=#{cnum,jdbcType=VARCHAR}
	</select>
		

		
</mapper>