<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="spring.project.mapper.CertiMapper">
	<select id="getNcsName" resultType="String">
		select distinct lname from ncs_code where floor(code/100) in
		<foreach collection="ncs_cat" item="ncs_cat" open="(" separator="," close=")">
			#{ncs_cat}
		</foreach>
	</select>
	<select id="getCertiFilteredCnt" resultType="int">
		select count(*) from certiinfo 
			<where>
				<if test="category != null and category != ''">
					category = #{category}
				</if>
				<if test="ncs_cat != null">
					and floor(ncs_cat/100) in
					<foreach collection="ncs_cat" item="ncs_cat" open="(" separator="," close=")">
						#{ncs_cat}
					</foreach>
				</if>
				<if test="company != null">
					and company like '%${keyword}%'
				</if>
			</where>
	</select>
	<select id="getCertiFilteredList" resultType="spring.project.model.CertiInfoDTO">
		select * from 
			(select rownum r, list.* from 
				(select * from certiinfo 
					<where>
						<if test="category != null and category != ''">
							category = #{category}
						</if>
						<if test="ncs_cat != null">
							and floor(ncs_cat/100) in
							<foreach collection="ncs_cat" item="ncs_cat" open="(" separator="," close=")">
								#{ncs_cat}
							</foreach>
						</if>
						<if test="company != null">
							and company like '%${company}%'
						</if>
					</where>
					) list)
			where r between #{startRow} and #{endRow}
	</select>
	<select id="getNcsCodeList" resultType="map">
		select * from (select floor(code/100) as code, lname from ncs_code)
			group by code, lname
			order by code
	</select>
	
	
	<select id="getreqList" resultType="spring.project.model.CertiInfoDTO">
		select * from certiinfo a full outer join certi_requirement b on a.cnum=b.cnum
		<where>	
			<if test="req_age != null">
				req_age=#{req_age}	
			</if>	
			<if test="req_degree != null">
			    or req_degree=#{req_degree}	
			</if>
			<if test="req_exp != null">
			     or req_exp=#{req_exp}	
			</if>
		</where>
	</select>

	<select id="getCertiList" resultType="spring.project.model.CertiInfoDTO"
								parameterType="spring.project.model.CertiInfoDTO">
		select * from 
    		(select rownum r, list.* from 
		        (select * from certiinfo
		        <where>
					<if test="category != null and category != ''">
						category = #{category}
					</if>
				</where>
				) list)
		where r between #{startRow} and #{endRow} and category != 'language'
	</select>
		
	<select id="getCertCnt" resultType="int">
		select count(*) from certiinfo
	</select>
		
	<select id="getCertiLangList" resultType="spring.project.model.CertiInfoDTO">
		select * from
			(select rownum r, list.* from 
				(select * from certiinfo
					where category='language') list)
			where r between #{startRow} and #{endRow}	
	</select>
	<select id="getCertiLangCnt" resultType="int">
		select count(*) from certiinfo
					where category='language'
	</select>

	<select id="getCertiReqInfo" resultType="spring.project.model.CertiRequirementDTO">
		select * from certi_requirement where cnum=#{cnum}
	</select>
	
	<select id="getCertiDate" resultType="spring.project.model.CertiDateDTO">
		select * from certidate where datepk = #{datePK}
	</select>
	
	<select id="getQnetDate" resultType="spring.project.model.CertiDateDTO"
							parameterType="spring.project.model.CertiScheduleDTO">
		select * from certidate 
			where cyear=#{cyear,jdbcType=VARCHAR}
			and cround=#{cround,jdbcType=VARCHAR}
			and clevel=#{clevel,jdbcType=VARCHAR}						
	</select>
	
	<select id="getQnetDateInfo" resultType="spring.project.model.CertiScheduleDTO">
		select * from certischedule where cnum=#{cnum,jdbcType=VARCHAR}
	</select>
	
	<select id="getCertiInfo" resultType="spring.project.model.CertiInfoDTO">
		select * from certiinfo where cnum=#{cnum,jdbcType=VARCHAR}
	</select>
	
	<select id="searchNatPeriod" resultType="spring.project.model.CertiDateDTO"
								parameterType="spring.project.model.CertiDateDTO">
		select * from certidate 
		where clevel=#{clevel,jdbcType=VARCHAR}
		and cyear in
		<foreach collection="cyear_list" item="cyear" open="(" separator="," close=")">
			#{cyear,jdbcType=VARCHAR}
		</foreach>
		and cround in 
		<foreach collection="cround_list" item="cround" open="(" separator="," close=")">
			#{cround,jdbcType=VARCHAR}
		</foreach>
	</select>
	
	<select id="searchPeriod" resultType="spring.project.model.CertiDateDTO">
		select * from certidate 
		where cnum=#{cnum,jdbcType=VARCHAR}
	</select>
	
	<select id="getNCS" resultType="spring.project.model.NcsDTO">
		select * from ncs_code
	</select>

	<!-- 찜 확인 -->
	<select id="checkLike" resultType="spring.project.model.LikeDTO">
		select * from member_like 
		where memid=#{memid} and cnum=#{cnum}
	</select>
	
	<select id="likeCheck" resultType="int"
							parameterType="spring.project.model.LikeDTO">
		select count(*) from member_like 
		where memid=#{memid} and cnum=#{cnum}
	</select>
		
		
	<select id="pyramidGraph" resultType="spring.project.model.PassDetailDTO">
		select * from pass_detail 
			where cname in
				(select cname from certiinfo where cnum=#{cnum})
	</select>
	
	<select id="lineGraphNat" resultType="spring.project.model.PassRateNatDTO">
		select * from(
			select p.*, rownum r from pass_rate_nat p
				where cname in
					(select cname from certiinfo where cnum=#{cnum}))
			where r between 1 and 5
	</select>
	
	<select id="lineGraphPrv" resultType="spring.project.model.PassRatePrvDTO">
		select * from (
			select p.*, rownum r from pass_rate p
				where cname in
					(select cname from certiinfo where cnum=#{cnum})
				and (clevel in
						(select clevel from certiinfo where cnum=#{cnum}) 
					or (select clevel from certiinfo where cnum=#{cnum}) is null))
			where r between 1 and 5
	</select>
	<select id="getLikeList" resultType="String">
		select cnum from member_like where memid = #{memid}
	</select>
	
</mapper>
