<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.project.mapper.HelpMapper">
	
	<insert id="addNotice" parameterType="spring.project.model.Post_BoardDTO">
		insert into post_board values (
			board_seq.nextval,   
			#{subject, jdbcType=VARCHAR},
			#{post_content, jdbcType=VARCHAR},
			#{writer, jdbcType=VARCHAR},
			sysdate,
			#{post_group, jdbcType=NUMERIC},
			#{post_level, jdbcType=NUMERIC},
			#{board_type},
			#{readCnt, jdbcType=NUMERIC},
			#{img, jdbcType=VARCHAR}
			)
	</insert>
	
	
	<update id="updateArticle">
		update board 
		<set>
			<if test="writer != null"> writer=#{writer},</if>
			<if test="email != null"> email=#{email},</if> 
			<if test="subject != null"> subject=#{subject},</if> 
			<if test="passwd != null"> passwd=#{passwd},</if> 
			<if test="content != null"> content=#{content},</if> 
		</set>
		where num=#{num}
	</update>
	
	
</mapper>
