<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.project.mapper.MemberMapper">
	
	<insert id="insertMember">
		insert into memberInfo values (#{memid},
											#{passwd},
											#{mem_name},
											#{email},
											#{birthday},
											#{gender},
											#{postalCode},
											#{address},
											#{addr_detail},
											#{mobile},
											#{mem_degree},
										<if test="major != null">#{major},</if>
										<if test="mem_job != null">#{mem_job},</if>
											0,
											0,
											0,
											sysdate,
											'',
											'',
											sysdate
											) 
	</insert>
	
	<select id="userCheck" resultType="spring.project.model.MemberInfoDTO">
		select status,ref_date,count(*) cnt from memberInfo where memid=#{memid} and passwd=#{passwd} group by status,ref_date order by ref_date desc
	</select>	
	
	<select id="deleteUser">
		update MemberInfo set status = '3' where memid=#{memid} and passwd=#{passwd}
	</select>
	
	<select id="findUser" resultType="spring.project.model.MemberInfoDTO">
		select * from MemberInfo where memid=#{memid} and passwd=#{passwd} and status in (0,1)
	</select>
	
	<update id="modifyList">
		update MemberInfo 
		<set>
			<if test="passwd != null and passwd !=''">passwd = #{passwd},</if>	
			<if test="mem_name != null">mem_name = #{mem_name},</if>
			<if test="email != null">email=#{email},</if>
			<if test="birthday != null">BIRTHDAY=TO_String(#{birthday},'YYYY-MM-DD'),</if>
			<if test="gender != null">gender=#{gender},</if>
			<if test="postalCode != null">postalCode=#{postalCode},</if>
			<if test="address != null">address=#{address},</if>
			<if test="addr_detail != null">addr_detail=#{addr_detail},</if>
			<if test="mobile != null">mobile=#{mobile},</if>
			<if test="mem_degree != null">mem_degree=#{mem_degree},</if>
			<if test="major != null">major=#{major},</if>
			<if test="mem_job != null">mem_job=#{mem_job},</if>
			<if test="passwdQ1 != null">passwdQ1=#{passwdQ1},</if>
			<if test="passwdQ2 != null">passwdQ2=#{passwdQ2}</if>
		</set>
		where memid=#{memid} and status in (0,1)
	</update>
	
	<select id="idDuplicate" resultType="int">
		select count(*) from memberInfo where memid = #{memid}
	</select>	
	
	<select id="idFind" resultType="spring.project.model.MemberInfoDTO">
		select memid,status,ref_date from memberInfo where mem_name=#{mem_name} and mobile=#{mobile}
	</select>

	<select id="myList" resultType="spring.project.model.Post_BoardDTO">
				select * from
				(select post_board.*,rownum r from
					(select * from post_board order by post_group desc, post_level)post_board
				where writer=#{writer} and board_type=${board_type} and status in (0,1))
		<![CDATA[ where r>=#{startRow} and r<=#{endRow} ]]>
	</select>
	<select id="post_BoardCount" resultType="int">
		select count(*) from post_board where board_type=#{board_type} and writer=#{writer} and status in (0,1)
	</select>
	<select id="myComments" resultType="spring.project.model.Comm_BoardDTO">
		select board.*,cboard.board_mapping from
		(select comm_board.*,rownum r,p.board_type from
		(select * from comm_board order by comm_group desc, comm_level)comm_board,post_board p
		where comm_board.pnum = p.pnum and comm_board.writer=#{writer} and comm_board.status=0) board,boardtype cboard
        where board.board_type = cboard.board_type and
		<![CDATA[ r>=#{startRow} and r<=#{endRow} ]]>
	</select>
	<select id="commentsCount" resultType="int">
		select count(*) from comm_board where writer=#{writer} and status in (0,1)
	</select>
	<update id="updateTime">
		update MemberInfo set ref_date=sysdate where memid=#{memid} and status in (0,1)
	</update>
	
	<update id="addMemberPoint">
		update memberinfo 
			<set>
				<if test="pnum != 0">mem_point = mem_point+100</if>
				<if test="comm_num != 0">mem_point = mem_point+10</if>
			</set>
			where memid=#{memid} and status=0
	</update>
	
	<select id="memberStatusCheck" resultType="int">
		select status from MemberInfo where memid=#{memid}
	</select>
	<select id="pwCheck" resultType="int">
		select count(*) from MemberInfo where memid=#{memid} and email=#{email}
	</select>
	<select id="pwFind" resultType="spring.project.model.MemberInfoDTO">
		select * from MemberInfo where memid=#{memid} and email=#{email}
	</select>
	<update id="domancyUpdate">
		update MemberInfo set status = 0 where memid=#{memid}
	</update>	
</mapper>